@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.main {
  background-image: url("../../../assets/images/page/main.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 210px);
  padding-top: 50px;
  padding-bottom: 231px;

  .container {
    .main-title {
      font-family: 'Lora', sans-serif;
      font-weight: 400;
      font-size: 60px;
      color: $green-elements;
      margin-bottom: 67px;
    }

    .main-text {
      font-size: 18px;
      line-height: 140%;
      color: $green-text;
      max-width: 528px;
    }
  }
}

.offers {
  background-color: $green-light-bg;
  padding: 80px 0;

  .container {
    display: flex;
    justify-content: space-between;

    .offer {
      width: 600px;
      height: 250px;
      padding: 35px 35px 0 35px;
      background-color: #fff;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: unset;
      transform: translateY(0);
      transition: 0.4s all ease-in-out;

      .offer-title {
        font-size: 20px;
        line-height: 130%;
        color: $green-text;
      }

      .offer-content {
        display: flex;

        .offer-text {
          font-size: 16px;
          line-height: 130%;
          color: $green-text;
        }
      }

      &.offer-instagram {
        .offer-image {
          margin-top: 35px;
          pointer-events: none;
        }

        .offer-text {
          margin-top: 16px;
          max-width: 234px;
          margin-left: 58px;
        }

        .offer-button {
          margin-left: 168px;
          margin-top: 22px;

          .button {
            width: 228px;
          }
        }
      }

      &.offer-collection {
        .offer-title {
          max-width: 362px;
        }

        .offer-image {
          margin-top: 12px;
          margin-left: 81px;

          img {
            pointer-events: none;
          }
        }

        .offer-button {
          margin-top: 75px;
          margin-left: 44px;

          .button {
            width: 177px;
          }
        }
      }

      &:hover {
        box-shadow: 0 26px 80px rgba(108, 172, 114, 0.6);
        background-color: rgb(241, 255, 243);
        transform: translateY(-10px);
      }
    }
  }
}

.best-products {
  padding-top: 120px;
  padding-bottom: 130px;
}

.info {
  background-color: $green-light-bg;
  background-image: url("../../../assets/images/page/info-bg.png");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 340px);
  padding: 80px 0;

  .container {
    .info-title {
      @include head-lora-32;
      margin-bottom: 5px;
    }

    .info-item {
      margin-top: 35px;
      color: #000;
      max-width: 442px;

      .info-image {
        margin-bottom: 30px;
      }

      .info-text {
        font-size: 16px;

        .info-text-extra {
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
          line-height: 130%;
          margin-top: 8px;
        }
      }

      &.info-delivery {
        .info-text:last-child {
          margin-top: 16px;
        }
      }

      &.info-payment {
        .info-text {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.reviews {
  margin-top: 130px;
  margin-bottom: 130px;

  .container {
    .reviews-title {
      @include head-lora-32;
      text-align: center;
      margin-bottom: 50px;
    }

    .reviews-carousel {
      position: relative;

      .review-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 2px solid $green-elements;
        border-radius: 10px;
        box-sizing: border-box;
        transform: translateY(0);
        transition: .3s all ease;
        position: relative;
        overflow: hidden;

        &:before {
          background: radial-gradient(120px 120px at 20% 10%, rgba(159, 255, 80, 0.2), transparent 60%),
          radial-gradient(140px 140px at 90% 80%, rgba(140, 251, 255, 0.1), transparent 60%);
          border-radius: inherit;
          content: "";
          inset: -1px;
          opacity: 0;
          pointer-events: none;
          position: absolute;
          transition: opacity .2s ease;
        }

        &:hover {
          transform: translateY(-5px);
          border: 2px solid #5cd166;

          &:before {
            opacity: 1;
          }
        }

        .review-item-head {
          display: flex;
          align-items: center;

          .review-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .review-item-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 16px;
          }
        }

        .review-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 140%;
          color: $gray-text;
        }
      }

      .reviews-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -41px;
          }

          &.move-forward {
            right: -41px;
          }
        }
      }
    }
  }
}

.map iframe {
  vertical-align: bottom;
}
