@import "../../../../assets/styles/mixins";
@import "../../../../assets/styles/variables";

.favorite {
  padding-top: 50px;
  padding-bottom: 110px;

  .container {
    .favorite-title {
      @include head-lora-36;
      color: $green-text;
      margin-bottom: 35px;
    }

    .favorite-products {
      .favorite-product {
        border-top: 1px solid #E7F1E8;
        padding-top: 15px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:first-child {
          margin-top: 0;
          padding-top: 0;
          border-top: 0;
        }

        .favorite-product-image {
          background-position: center;
          background-size: cover;
          width: 100px;
          height: 100px;
          border-radius: 5px;
        }

        .favorite-product-name {
          margin-left: 24px;
          font-size: 20px;
          color: $gray-text;
          width: 567px;
          margin-right: 20px;
        }

        .favorite-product-price {
          font-family: 'Montserrat', sans-serif;
          font-weight: 600;
          font-size: 22px;
          width: 100px;
          margin-right: 193px;
          color: $gray-text;
        }

        .favorite-product-action {
          .button {
            width: 160px;
          }

          .in-cart-block {
            display: flex;
            justify-content: center;
            align-items: center;

            .button {
              margin-left: 20px;
            }
          }
        }

        .favorite-product-remove {
          margin-left: 59px;
          cursor: pointer;
        }
      }
    }

    .favorite-empty {
      margin-top: 20px;
      margin-bottom: 100px;

      div {
        font-size: 16px;
      }

      .button {
        width: 255px;
        margin-top: 10px;
      }
    }
  }
}
