@import '../../../../assets/styles/variables';
@import '../../../../assets/styles/mixins';

.catalog {
  padding-top: 100px;
  padding-bottom: 110px;

  .catalog-title {
    @include head-lora-36;
    color: $green-text;
    margin-bottom: 33px;
    margin-left: 317px;
  }

  .catalog-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 317px;

    .catalog-applied-filters {
      display: flex;
      flex-wrap: wrap;

      .catalog-applied-filter {
        border-radius: 50px;
        border: 1px solid #E7F1E8;
        font-size: 16px;
        line-height: 130%;
        color: $gray-text;
        padding: 8px 14px;
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 20px;

        a {
          text-decoration: none;
          cursor: pointer;
          display: flex;
          margin-left: 8px;
        }
      }
    }

    .catalog-sorting {
      width: 190px;
      min-width: 190px;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      transition: all .3s ease;

      .catalog-sorting-head {
        display: flex;
        align-items: center;
        justify-content: right;
        padding: 12px 0 12px 23px;
        font-size: 16px;
        color: $gray-text;
        transition: all .3s ease;

        svg {
          transition: all .3s ease;
        }

        span {
          margin-right: 8px;
        }
      }

      .catalog-sorting-body {
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        z-index: 3;
        display: flex;
        flex-direction: column;
        background: #f5f5f5;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        height: 0;
        font-size: 16px;
        color: #8E8E8E;
        transition: all .3s ease;

        .catalog-sorting-item {
          cursor: pointer;
          transition: all .3s ease;
          padding: 12px 23px;
          transform: translateY(-20px);
          opacity: 0;
          visibility: hidden;

          &.active {
            color: #313131;
            background-color: $green-light-bg;
            border-radius: 0;
          }

          &:hover {
            background: #EBEBEB;
            color: #313131;
          }
        }
      }

      &.open {
        width: 257px;
        min-width: 257px;

        .catalog-sorting-head {
          color: black;
          background: #EBEBEB;
          justify-content: space-between;
          border-radius: 5px 5px 0 0;
          padding-right: 23px;

          svg {
            transform: rotate(180deg);
          }
        }

        .catalog-sorting-body {
          height: auto;

          .catalog-sorting-item {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;

            @for $i from 1 through 20 {
              &:nth-child(#{$i}) {
                transition-delay: #{$i * 0.05 + 0.1}s;
              }
            }
          }
        }
      }
    }
  }

  .catalog-layout {
    display: flex;
    margin-top: 10px;

    .catalog-filters {
      width: 257px;
      min-width: 257px;
      margin-right: 58px;
    }

    .catalog-products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 26px 30px;

      &.products-empty {
        display: flex;
        justify-content: center;
      }

      .caption-text {
        font-size: 40px;
        width: 100%;
        text-align: center;
      }
    }
  }

  .pagination {
    margin-top: 79px;
    display: flex;
    justify-content: center;
    align-items: center;

    .pagination-arrow {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg path {
        transition: all .3s ease;
      }

      &:hover:not(&.disabled) {
        svg path {
          fill: $green-light-bg;
        }
      }

      &.disabled {
        opacity: 0.5;
        cursor: unset;
      }
    }

    .pagination-pages {
      margin-left: 30px;
      margin-right: 30px;
      display: flex;
      align-items: center;

      .pagination-page {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: transparent;
        margin-right: 15px;
        cursor: pointer;
        font-size: 20px;
        color: $gray-text;
        transition: all .3s ease;

        &.active, &:hover {
          background: $green-light-bg;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
