@import "../../../../assets/styles/auth-form";

.login .container {
  display: flex;

  .page-image {
    margin-left: 49px;

    img {
      vertical-align: bottom;
    }
  }
}

@media (max-width: 1024px) {
  .login .container .page-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .login {
    padding: 32px 0 48px;
  }
}
