<section class="login" [formGroup]="loginForm">
  <div class="container">
    <div class="auth-form">
      <div class="auth-title">
        Войти в личный кабинет
      </div>
      <div class="auth-inputs">
        <div class="auth-input">
          <input type="text" class="input"
                 [class.input-error]="loginForm.get('email')!.invalid &&
                 (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)"
                 placeholder="Электронная почта" formControlName="email">
          <div class="field-error" *ngIf="loginForm.get('email')!.touched && loginForm.get('email')!.errors">
            <span *ngIf="loginForm.get('email')!.errors?.['required']">Введите email</span>
            <span *ngIf="loginForm.get('email')!.errors?.['email']">Некорректный формат email</span>
          </div>
        </div>
        <div class="auth-input">
          <input type="password" class="input"
                 [class.input-error]="loginForm.get('password')!.invalid &&
                 (loginForm.get('password')!.dirty || loginForm.get('password')!.touched)"
                 placeholder="Пароль" formControlName="password">
          <div class="field-error" *ngIf="loginForm.get('password')!.touched && loginForm.get('password')!.errors">
            <span *ngIf="loginForm.get('password')!.errors?.['required']">Введите пароль</span>
          </div>
        </div>
        <div class="auth-checkbox">
          <input type="checkbox" id="remember" formControlName="rememberMe">
          <label for="remember">Запомнить меня</label>
        </div>
      </div>
      <div class="auth-action">
        <button class="button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      </div>
      <div class="auth-link">
        Нет аккаунта? <a routerLink="/signup">Зарегистрируйтесь</a>
      </div>
    </div>
    <div class="page-image">
      <img loading="eager" src="assets/images/page/login.png" alt="Flower">
    </div>
  </div>
</section>
