@import "../../../../assets/styles/auth-form";

.signup {
  margin-top: 10px;

  .container {
    display: flex;

    .page-image {
      margin-left: 222px;

      img {
        vertical-align: bottom;
        position: relative;
        bottom: -11px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .signup .container .page-image {
    display: none;
  }
}

@media (max-width: 767px) {
  .signup {
    margin-top: 0;
    padding: 32px 0 48px;
  }
}
