@import "variables";

.auth-form {
  margin-top: 50px;
  margin-bottom: 110px;

  .auth-title {
    font-family: "Lora", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: $green-text;
    margin-bottom: 35px;
  }

  .auth-inputs {
    margin-bottom: 30px;

    .auth-input {
      margin-bottom: 8px;

      input {
        margin: 0;
        width: 422px;
        box-sizing: border-box;
      }
    }

    .auth-checkbox {
      max-width: 422px;
      display: flex;
      align-items: baseline;

      input {
        margin: 0;
      }

      label {
        font-size: 16px;
        line-height: 130%;
        color: $gray-text;
        margin-left: 10px;

        a {
          color: #519057;
          text-decoration: none;
        }
      }
    }
  }

  .auth-action {
    margin-top: 30px;

    button.button {
      width: 422px;
    }
  }

  .auth-link {
    margin-top: 8px;
    font-size: 16px;
    color: $gray-text;

    a {
      text-decoration: none;
      margin-left: 5px;
      color: #519057;
    }
  }
}
