@import "variables";

@mixin head-lora-32 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  color: $green-text;
}

@mixin head-lora-36 {
  font-family: "Lora", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #000000;
}

// adaptive
@mixin xs {
  @media (max-width: #{$bp-xs}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$bp-sm}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$bp-md - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$bp-lg - 1px}) {
    @content;
  }
}

@mixin desktop-only {
  @media (min-width: #{$bp-lg}) {
    @content;
  }
}

@mixin wide {
  @media (min-width: #{$bp-xxl}) {
    @content;
  }
}

// range
@mixin tablet-only {
  @media (min-width: #{$bp-md}) and (max-width: #{$bp-lg - 1px}) { @content; }
}
