$container-width: 1240px;
$gray-text: #2C2C2C;
$light-text: #e5ffe7;
$green-text: #202B21;
$green-light: #5cd166;
$green-soft: #648F64;
$green-light-bg: #B6D5B9;
$green-elements: #2A592E;

// breakpoints
$bp-xs:  320px;
$bp-sm:  480px;
$bp-md:  768px;
$bp-lg:  1024px;
$bp-xl:  1240px;
$bp-xxl: 1400px;
